[net]
# Testing
batch=1
subdivisions=1
# Training
#batch=128
#subdivisions=2
height=224
width=224
max_crop=320
channels=3
momentum=0.9
decay=0.0005
 
hue=.1
saturation=.75
exposure=.75
 
learning_rate=0.1
policy=poly
power=4
max_batches=1600000
 
#learning_rate=0.045
#max_batches = 800000
#policy=steps
#steps=80000,180000,330000,480000
#scales=.1,.1,.1,.1
 
[convolutional]
filters=32
size=3
stride=2
pad=1
batch_normalize=1
activation=leaky
 
[convolutional]
filters=32
size=1
stride=1
pad=1
batch_normalize=1
activation=leaky
 
[depthwise_convolutional]
#filters=32
size=3
stride=1
#groups=32
pad=1
batch_normalize=1
activation=leaky
 
[convolutional]
filters=16
size=1
stride=1
pad=1
batch_normalize=1
activation=linear
 
[convolutional]
filters=96
size=1
stride=1
pad=1
batch_normalize=1
activation=leaky
 
[depthwise_convolutional]
#filters=96
size=3
stride=2
#groups=96
pad=1
batch_normalize=1
activation=leaky
 
[convolutional]
filters=24
size=1
stride=1
pad=1
batch_normalize=1
activation=linear
 
[convolutional]
filters=144
size=1
stride=1
pad=1
batch_normalize=1
activation=leaky
 
[depthwise_convolutional]
#filters=144
size=3
stride=1
#groups=144
pad=1
batch_normalize=1
activation=leaky
 
[convolutional]
filters=24
size=1
stride=1
pad=1
batch_normalize=1
activation=linear
 
[shortcut]
from=-4
activation=linear
 
[convolutional]
filters=144
size=1
stride=1
pad=1
batch_normalize=1
activation=leaky
 
[depthwise_convolutional]
#filters=144
size=3
stride=2
#groups=144
pad=1
batch_normalize=1
activation=leaky
 
[convolutional]
filters=32
size=1
stride=1
pad=1
batch_normalize=1
activation=linear
 
[convolutional]
filters=192
size=1
stride=1
pad=1
batch_normalize=1
activation=leaky
 
[depthwise_convolutional]
#filters=192
size=3
stride=1
#groups=192
pad=1
batch_normalize=1
activation=leaky
 
[convolutional]
filters=32
size=1
stride=1
pad=1
batch_normalize=1
activation=linear
 
[shortcut]
from=-4
activation=linear
 
[convolutional]
filters=192
size=1
stride=1
pad=1
batch_normalize=1
activation=leaky
 
[depthwise_convolutional]
#filters=192
size=3
stride=1
#groups=192
pad=1
batch_normalize=1
activation=leaky
 
[convolutional]
filters=32
size=1
stride=1
pad=1
batch_normalize=1
activation=linear
 
[shortcut]
from=-4
activation=linear
 
[convolutional]
filters=192
size=1
stride=1
pad=1
batch_normalize=1
activation=leaky
 
[depthwise_convolutional]
#filters=192
size=3
stride=1
#groups=192
pad=1
batch_normalize=1
activation=leaky
 
[convolutional]
filters=64
size=1
stride=1
pad=1
batch_normalize=1
activation=linear
 
[convolutional]
filters=384
size=1
stride=1
pad=1
batch_normalize=1
activation=leaky
 
[depthwise_convolutional]
#filters=384
size=3
stride=1
#groups=384
pad=1
batch_normalize=1
activation=leaky
 
[convolutional]
filters=64
size=1
stride=1
pad=1
batch_normalize=1
activation=linear
 
[shortcut]
from=-4
activation=linear
 
[convolutional]
filters=384
size=1
stride=1
pad=1
batch_normalize=1
activation=leaky
 
[depthwise_convolutional]
#filters=384
size=3
stride=1
#groups=384
pad=1
batch_normalize=1
activation=leaky
 
[convolutional]
filters=64
size=1
stride=1
pad=1
batch_normalize=1
activation=linear
 
[shortcut]
from=-4
activation=linear
 
[convolutional]
filters=384
size=1
stride=1
pad=1
batch_normalize=1
activation=leaky
 
[depthwise_convolutional]
#filters=384
size=3
stride=1
#groups=384
pad=1
batch_normalize=1
activation=leaky
 
[convolutional]
filters=64
size=1
stride=1
pad=1
batch_normalize=1
activation=linear
 
[shortcut]
from=-4
activation=linear
 
[convolutional]
filters=384
size=1
stride=1
pad=1
batch_normalize=1
activation=leaky
 
[depthwise_convolutional]
#filters=384
size=3
stride=2
#groups=384
pad=1
batch_normalize=1
activation=leaky
 
[convolutional]
filters=96
size=1
stride=1
pad=1
batch_normalize=1
activation=linear
 
[convolutional]
filters=576
size=1
stride=1
pad=1
batch_normalize=1
activation=leaky
 
[depthwise_convolutional]
#filters=576
size=3
stride=1
#groups=576
pad=1
batch_normalize=1
activation=leaky
 
[convolutional]
filters=96
size=1
stride=1
pad=1
batch_normalize=1
activation=linear
 
[shortcut]
from=-4
activation=linear
 
[convolutional]
filters=576
size=1
stride=1
pad=1
batch_normalize=1
activation=leaky
 
[depthwise_convolutional]
#filters=576
size=3
stride=1
#groups=576
pad=1
batch_normalize=1
activation=leaky
 
[convolutional]
filters=96
size=1
stride=1
pad=1
batch_normalize=1
activation=linear
 
[shortcut]
from=-4
activation=linear
 
[convolutional]
filters=576
size=1
stride=1
pad=1
batch_normalize=1
activation=leaky
 
[depthwise_convolutional]
#filters=576
size=3
stride=2
#groups=576
pad=1
batch_normalize=1
activation=leaky
 
[convolutional]
filters=160
size=1
stride=1
pad=1
batch_normalize=1
activation=linear
 
[convolutional]
filters=960
size=1
stride=1
pad=1
batch_normalize=1
activation=leaky
 
[depthwise_convolutional]
#filters=960
size=3
stride=1
#groups=960
pad=1
batch_normalize=1
activation=leaky
 
[convolutional]
filters=160
size=1
stride=1
pad=1
batch_normalize=1
activation=linear
 
[shortcut]
from=-4
activation=linear
 
[convolutional]
filters=960
size=1
stride=1
pad=1
batch_normalize=1
activation=leaky
 
[depthwise_convolutional]
#filters=960
size=3
stride=1
#groups=960
pad=1
batch_normalize=1
activation=leaky
 
[convolutional]
filters=160
size=1
stride=1
pad=1
batch_normalize=1
activation=linear
 
[shortcut]
from=-4
activation=linear
 
[convolutional]
filters=960
size=1
stride=1
pad=1
batch_normalize=1
activation=leaky
 
[depthwise_convolutional]
#filters=960
size=3
stride=1
#groups=960
pad=1
batch_normalize=1
activation=leaky
 
[convolutional]
filters=320
size=1
stride=1
pad=1
batch_normalize=1
activation=linear
 
[convolutional]
filters=1280
size=1
stride=1
pad=1
batch_normalize=1
activation=leaky
 
[avgpool]
 
[convolutional]
filters=1000
size=1
stride=1
pad=1
activation=linear
 
[softmax]
groups=1